~*
*.a
*.app
.bsid
build
callgrind*
# Compiled Dynamic libraries
# Compiled Object files
# Compiled Static libraries
*.d
*.dll
*.dylib
*.exe
# Executables
# Fortran module files
*.gch
*.la
*.lai
*.lib
*.lo
.lpbmeta
make.txt
*.mod
nbproject
*.o
*.obj
*.out
*.out*
out.txt
*.pch
# Precompiled Headers
# Prerequisites
Reflection
*.slo
*.smod
*.so
Thumbs.db
vgcore*
